@model IEnumerable<LeaveManagementSystem.Models.LeaveRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Context.Session.GetString("Role") == "Employee")
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            Apply Leave
        </a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppliedDate)
            </th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.LeaveName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @if (item.Status == "Approved")
                    {
                        <span class="badge bg-success">
                            Approved
                        </span>
                    }
                    else if (item.Status == "Rejected")
                    {
                        <span class="badge bg-danger">
                            Rejected
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-warning text-dark">
                            Pending
                        </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppliedDate)
                </td>
                <td>
                    <a asp-action="Edit"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a> |

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-info btn-sm text-white">
                        Details
                    </a> |

                    <a asp-action="Delete"
                       class="btn btn-danger btn-sm">
                        Delete
                    </a>
                </td>
                <td>
                    @if (item.Status == "Pending")
                    {
                        <a asp-action="Approve"
                           asp-route-id="@item.Id"
                           class="btn btn-success">
                            Approve
                        </a>

                        <a asp-action="Reject"
                           asp-route-id="@item.Id"
                           class="btn btn-danger">
                            Reject
                        </a>
                    }
                    else
                    {
                        <span class="text-muted">Action Completed</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
