@model IEnumerable<LeaveManagementSystem.Models.LeaveType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDays)
            </td>
            <td>
                    <a asp-action="Edit"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a> |

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-info btn-sm text-white">
                        Details
                    </a> |

                    <a asp-action="Delete"
                       class="btn btn-danger btn-sm">
                        Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
